@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.custom-upload {
  display: inline-block;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30%;
  border-radius: 50%;
}

.custom-upload:hover {
  background-image: url("./assets/icons/edit.svg");
  background-color: rgba(255, 255, 255, 0.4);
  filter: invert();
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background: #fb923c;
}

body::-webkit-scrollbar-thumb:hover {
  background: #fdba74;
}

.custom-scroll::-webkit-scrollbar {
  width: 5px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #fb923c;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #fdba74;
}
